/* Hier bitte alle extra Style hinzufügen, beziehen sich auf alle HTML Seiten */

h1 {
  margin-top: 10%;
  color: #005075;
}

h2 {
  margin-top: 10%;
  color: rgba(0, 80, 117, 0.7);
}

h3 {
  margin-top: 8%;
}

h4 {
  color: rgba(105, 126, 136, 0.7);
  margin-bottom: 1%;
}